<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <form action="submit" method="POST">
            <p><input type="text" name="login" placeholder="Name" /></p>
            <p><input type="password" name="password" placeholder="Password" /></p>

            <p><button>Login</button></p>
        </form>
    </body>
</html>
