language: rust
cache: cargo
sudo: false
branches:
  except:
  - fuzzing
rust:
  - 1.13.0
  - stable
  - beta
  - nightly
os:
  - linux
  # openssl is broken on OS X again
  # - osx
env:
  - RUST_LOG=multipart=info RUST_BACKTRACE=1
script:
  - if [ ${TRAVIS_RUST_VERSION} = "nightly" ]; then
      cargo build --verbose --features "nightly";
      cargo test --verbose --features "nightly";
      cargo doc --verbose --features "nightly";
    fi
  - cargo build --verbose;
  - cargo test --verbose;
  - cargo doc --verbose;
  - (cd nickel && cargo test -v)
