language: rust
rust:
  - stable
  - beta
  - nightly
os:
  - linux
  - osx
env:
  global:
    - FEATURES="iron tiny_http"
script:
  - cargo build -v --features "$FEATURES"
  - cargo test -v --features "$FEATURES"
  - cargo doc -v --no-deps --features "$FEATURES"
after_success:
    - |
        test ${TRAVIS_PULL_REQUEST} == "false" && \
        test "${TRAVIS_BUILD_NUMBER}.1" == "${TRAVIS_JOB_NUMBER}" && \
        test -n ${TRAVIS_TAG} && \
        bash deploy-docs.sh
